.DS_Store
ADNI_Rearanged
dataset
/Matlab_scripts/spm12
/ADNI_mat
.vscode
/Python_scripts/test_script.py
.pyc
/Python_scripts/_features
/Python_scripts/xgboost
/Python_scripts/__pycache__
/Python_scripts/Brain_simulation_GA
/Python_scripts/CNN/dataset
/Python_scripts/back_up
Atlas
csv_dataset